/* CSS Reset */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}


/* CUSTOM CSS */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #bcbcbc;
}

.title {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
}

input {
    padding: 10px;
    border: none;
}

.win-message {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
}

.win-message:hover {
    color: #4CAF50;
    cursor: default;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    border: 2px solid black;
}

.block {
    border: 2px solid black;
    transition: all 0.3s ease-in;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

button {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}

.reset-button {
    margin-top: 20px;
}